.img{
height: 600px;
}
.img{
    width: 785px;
    height: 600px;
}
.content .img-fluid{
    width: 785px;
    height: 600px;
 
}
.contact .img-fluid{
    width: 785px;
    height: 600px;

}
.carousel-item{
    width: 500px;
    
}
.para{
    background-color: #F5F5F7;
    
}
.about{
    justify-content: center;
    margin: 0 300px;
    font-size: small;

}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: baseline;
}